<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14215636703-joo79gnd353l4p5085ubm6gshlrs8geb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14215636703-joo79gnd353l4p5085ubm6gshlrs8geb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>14215636703-5rsoqsp5l4rf0s88knuebb63icp6tn1j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSEsYpjdUYRfJ5TSQhiipdmfYaVjzFGMw</string>
	<key>GCM_SENDER_ID</key>
	<string>14215636703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grp.smss</string>
	<key>PROJECT_ID</key>
	<string>student-management-3494e</string>
	<key>STORAGE_BUCKET</key>
	<string>student-management-3494e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14215636703:ios:224855e5134febd478ab6a</string>
</dict>
</plist>